.career-bock{
    text-align: center;
    justify-content: center;
   
}
#n:hover{
    border-style: solid;
}
.caree-para{
    align-items: center;
}
#cer-ic{
text-align: end;
align-items: center;
    color: brown;
}